.App {
  text-align: center;
}

.Header {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #6699d8;
  color: white;
  font-size: 20px;
  z-index: 1;
}

.TopMargin {
  margin-top: 250px;
}

.Footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #6699d8;
  color: white;
  font-size: 20px;
}

.Box {
  position: relative;
  left: 50%;
  width: 600px;
  height: 200px;
  padding: 20px;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  border: 5px solid #6699d8;
}

.Picture {
  float: left;
  width: 40%;
}

.PhotoBox {
  background-color: #6699d8;
  width: 200px;
  height: 180px;
  border-radius: 25px;
}

.ImgAlign {
  margin-top: 10%;
}

.Details {
  float: left;
  width: 60%;
}

.User {
  margin-left: 10px;
  text-align: left;
  font-weight: 500;
}

.Vertical {
  border-left: 1px solid #6699d8;
  height: 180px;
  position: absolute;
  left: 40%;
  top: 15%;
}
